body {
margin:0;
background-color:#e3e3e3;
}

* {
box-sizing:border-box;
}

.container {
width:100%;
align-items:center;
display:flex;
border-bottom:1px solid grey;
background-color:#fff;
}

.logo {
width:20%;
}

.logo img {
margin-left:20px;
margin-top:5px;
flex:1;
}

.navbar {
width:60%;
text-align:center;
}

.navbar a {
text-decoration:none;
font-family:'IBM Plex Sans Arabic', sans-serif;
font-weight:normal;
font-size:20px;
flex:1;
color:black;
padding-right:30px;
box-sizing:border-box;
}

.search-container {
width:20%;
float:right;
}

.search-container input[type="text"]{
border:1px solid grey;
font-size:17px;
flex:1;
margin-left:20px;
}

.search-container button {
float:right;
flex:1;
padding: 1px 1px;
  margin-top:-24px;
  margin-right:-70px;
  background: #ddd;
  height:25px;
  width:28px;
}
 

.container,
.logo,
.navbar,
.search-container::after;
content:"";
clear:both;
}


.container1 {
width:100%;
}

.image {
position:relative;
margin-top:20px;
margin-left:80px;
margin-right:40px;
z-index:-1;
}

.image img {
display:block;
}

.banner h2{
font-family:Tahoma, arial, sans-serif;
font-weight:normal;
font-size:120%;
position:absolute;
width:85.50%;
color:white;
background-color: green; 
overflow:hidden;
margin-left:105px;
margin-top:-24px;
trasnform:translate(-50% -50%);
padding-left:5px;
padding-top:5px;
height:45px;
text-align:center;
}

.container1,
.image,
.banner::after {
content:"";
clear:both;
}

.container2 {
width:100%;
display:flex;
}

.slogan {
width:50%;
flex:1;

}

.slogan h2 {
font-family:Tahoma, arial, sans-serif;
font-weight:bold;
font-size:150%;
color:green;
margin-top:80px;
margin-left:200px;
line-height:1.5;
}

.sidebar {
width:50%;
width:34%;
float:right;
padding : 20px 40px 20px 40px;
box-sizing: border-box;
color: black;
margin-top:-182px;

}

.sidebar p {
font-family:Tahoma, arial, sans-serif;
font-weight:normal;
font-size:80%;
color:black;
text-align:left;
margin-left:-350px;
margin-right:130px;
padding:0px 20px 10px 20px;
box-sizing:border-box;
}


.container2,
.slogan,
.sidebar::after {
content:"";
clear:both;
}


.footer {
width:100%;
margin-top:520px;
background-color:#294037;
display:flex;
}

.footer h2 {
font-family:tahoma, arial, sans-serif;
font-weight:bold;
font-size:150%;
margin-left:80px;
margin-top:50px;
color:white;
flex:1;
}

.contact {
margin-top:120px;
margin-left:-420px;
}

.subscribe {
min-width:100%;
margin:0 0 10px;
padding:0;
width:100%;
}

input.mail, placeholder {
width:50%;
height:45px;
border:none;
border-bottom:1px solid white;
font-size:18px;
background-color:#294037;
color:white;
opacity:0.5;
}

.btn {
color:#fff;
background-color:#294037;
height:40px;
border-radius:10%;
}

.sidemenu {
float:right;
margin-left:850px;
margin-top:-110px;
}

.sidemenu a {
text-decoration:none;
display:block;
font-family:tahoma, arial, sans-serif;
font-size:120%;
font-weight:bold;
color:#fff;
line-height:1.5;
}
