body {
margin:0;
background-color:#e3e3e3;
}

* {
box-sizing:border-box;
}

.container {
width:100%;
align-items:center;
display:flex;
border-bottom:1px solid grey;
background-color:#fff;
}

.logo {
width:20%;
}

.logo img {
margin-left:20px;
margin-top:5px;
flex:1;
}

.navbar {
width:60%;
text-align:center;
}

.navbar a {
text-decoration:none;
font-family:'IBM Plex Sans Arabic', sans-serif;
font-weight:normal;
font-size:20px;
flex:1;
color:black;
padding-right:30px;
box-sizing:border-box;
}

.search-container {
width:20%;
float:right;
}

.search-container input[type="text"]{
border:1px solid grey;
font-size:17px;
flex:1;
margin-left:20px;
}

.search-container button {
float:right;
flex:1;
padding: 1px 1px;
  margin-top:-24px;
  margin-right:-78px;
  background: #ddd;
  height:25px;
  width:35px;
}
 

.container,
.logo,
.navbar,
.search-container::after;
content:"";
clear:both;
}

.container1 {
width:100%;
margin-top:50px;
margin-left:150px;
display:flex;
align-items:center;
flex-wrap:wrap;
}

.product-one {
width:25%;
border:2px solid #f7faf7;
background-color:#f7faf7;
padding:40px; 40px;
box-sizing:border-box;
flex:1;
margin-top:50px;
margin-left:150px;
text-align:center;
height:400px;
}

.product-one h3 {
font-family: 'Roboto Condensed', sans-serif;
font-weight:bold;
font-size:100%;
color:black;
}

.product-one p {
font-family: 'Roboto Condensed', sans-serif;
font-weight:bold;
font-size:100%;
color:#8B0000;
}

.product-one button {
height:25px;
border:1px solid red;
border-raidus:10%;
width:75px;
padding:8px
background-color:#fff;
height:25px;
}


.product-two {
width:25%;
border:2px solid #f7faf7;
background-color:#f7faf7;
padding:40px; 40px;
box-sizing:border-box;
flex:1;
float:left;
margin-top:-400px;
margin-left:545px;
text-align:center;
height:400px;
}

.product-two h3 {
font-family: 'Roboto Condensed', sans-serif;
font-weight:bold;
font-size:100%;
color:black;
}

.product-two p {
font-family: 'Roboto Condensed', sans-serif;
font-weight:bold;
font-size:100%;
color:#8B0000;
}

.product-two button {
height:25px;
border:1px solid red;
border-raidus:10%;
width:75px;
padding:8px
background-color:#fff;
height:25px;
}

.product-three {
width:25%;
border:2px solid #f7faf7;
background-color:#f7faf7;
padding:40px; 40px;
box-sizing:border-box;
flex:1;
float:right;
margin-top:-400px;
margin-right:212px;
text-align:center;
height:400px;
}

.product-three h3 {
font-family: 'Roboto Condensed', sans-serif;
font-weight:bold;
font-size:100%;
color:black;
}

.product-three p {
font-family: 'Roboto Condensed', sans-serif;
font-weight:bold;
font-size:100%;
color:#8B0000;
}

.product-three button {
height:25px;
border:1px solid red;
border-raidus:10%;
width:75px;
padding:8px
background-color:#fff;
height:25px;
}



.products,
.product-one,
.product-two,
.product-three {
content:"";
clear:both;
}

footer {
margin-top:150px;
text-align:center;
}




